.overlaytext1 {
	position:relative;
	top:-140px;
}

#orientation1 {
	margin-bottom:-100px;
}

.sticky1 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sticky2 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}