:root {
	--baseColor: #FFFCF8;
	--highlightColor: #EC411B;
	--mainDark: #3F1A13;
}

body {
	background: var(--baseColor);
	font-family:arial;
	color: var(--mainDark);
}

p {
	font-size:1rem;
	line-height
}

#main {
	padding: 1rem;
}

.navbar {
	padding: .5rem 1rem;
	background: var(--baseColor);
}

.navbar a {
	color:white;
}

.highlightbox {
	border-width:1px;
	border-color:var(--highlightColor);
	border-style:solid;
	padding:1.4rem;
	text-align:center;
}

h1 {
	font-size:3.8rem;
	line-height:1.1;
	text-align:center;
	font-weight:600;
}

h2 {
	font-size:1rem;
	font-family:Wellcome;
	text-align:center;
}

#tagline {
	border-bottom-width:1px;
	border-bottom-color:var(--highlightColor);
	border-bottom-style:solid;
	padding-bottom:20px;
}

#taglineContainer {
	padding:40px;
}

.maintext {
	font-size:1.4rem;
	font-family:Wellcome;
	text-align:center;
}

.subtext {
	font-size:1rem;
	font-weight:600;
}

.storysection {
	margin-top:80px;
}

.storysectionlarge {
	margin-top:300px;
	margin-bottom:300px;
}

.countrylabel {
	font-size:0.5rem;
}

.countrylabellarge {
	font-size:1rem;
}

.keylabel {
	font-size:0.8em;
}

.caption {
	font-size:0.8em;
}

.key {
	width:12px;
	height:12px;
	float: left;
	margin-right:12px;
	margin-top:3px;
	text-transform: uppercase;
}

.lowincome {
	background-color:#FF0000;
}

.lowermiddleincome {
	background-color:#00B3CC;
}

.uppermiddleincome {
	background-color:#FFC500;
}

.highincome {
	background-color:#3F1A13;
}

.callout {
	background-color:white;
	padding-top:20px;
	border-width:1px;
	border-color:var(--mainDark);
	border-style:solid;
	width:100%;
	height:100%;
}

.inner {
	padding:20px;
}

.takeawaytext {
	font-size:1.4em;
	font-weight:600;
	text-align:center;
}

