:root {
	--baseColor: #309bf8;
}

#main {
	padding: 1rem;
}

.navbar {
	padding: .5rem 1rem;
	background: var(--baseColor);
}

.navbar a {
	color:white;
}

.tagline {
	font-style:italic;
	font-size:1.5em;
}

p {
	font-size:1.2em;
}

.country_label {
	font-size:10px;
}

#viz {
	background-color:#FFF9F0;
}

.viz {
	background-color:#FFF9F0;
}