{{ define "main" }}
    <div class="row">
  		<div id="frontheader" class="col-md-12">
  			<img src="images/frontpage/frontpage-header.png" width=100% />
  		</div>
    </div>
    <div class="row">
    	<div class="col-md-8 offset-md-2">
    		<p class="fronttitle">Trust in science plays a huge role in how people interpret and adopt scientific findings.</p>
    		<p class="frontintro">We have explored the findings from the Wellcome Global Monitor 2018 and developed four lenses, to help make different aspects of trust visible and actionable for you.</p>
    	</div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-1 center-text">
        <div class="sectionheader center-text">
          <p>Going Deeper</p>
        </div>
        <p>Through the lenses...</p>
      </div>
      <div class="col-md-4 center-text">
        <div class="sectionheader ">
          <p>Seeing Further</p>
        </div>
          <p>Use the lenses to find out</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 offset-md-1 center-text">
        <a class="notvisible" href="themes/orientation/">
        <div class="lensdetails lensorientation">
          <div class="row">
            <div class="highlightbox lensbox orientationcolor">
              <img class="simplifiedicon" src="images/icons/Orientation_Icon.svg" />
              <p class="subtext">The Lens Of Orientation</p>
              <p>Religion and traditions co-exist across the world. In case of disagreement between the two belief systems - people switch sides - plunging the cultural authority of science.</p>
              <p class="smallhighlight">India, Ghana, Guinea, Liberia, Sierra Leone</p>
            </div>
          </div>
        </div>
        </a>
      </div>
      
      <div class="col-md-4 center-text seeingfurthernote">
        <a class="notvisible" href="compare/">
        <div>
          <img class="homeicon" src="images/icons/Home_orientation.svg" height="100px" />
          <p>Which countries are at a risk of plunge in the cultural authority of science - in case there is a disagreement in beliefs?</p>
        </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 offset-md-1 center-text">
        <a class="notvisible" href="themes/diffusion/">
        <div class="lensdetails lensdiffusion">
          <div class="row">
            <div class="highlightbox lensbox diffusioncolor">
              <img class="simplifiedicon" src="images/icons/Diffusion_Icon.svg" />
              <p class="subtext">The Lens Of Diffusion</p>
              <p>Negative experiences with the state, non-profits, journalists, and neighbours may color the perception of science and scientists in both LMIC and HIC countries. </p>
              <p class="smallhighlight">South Africa, Vietnam</p>
            </div>
          </div>
        </div>
        </a>
      </div>

      <div class="col-md-4 center-text seeingfurthernote">
        <a class="notvisible" href="compare/">
          <div>
            <img class="homeicon" src="images/icons/Home_diffusion.svg" height="100px" />
            <p>Which countries are at a risk of plunge in the cultural authority of science - in case there is a disagreement in beliefs?</p>
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 offset-md-1 center-text">
        <a class="notvisible" href="themes/distance/">    
        <div class="lensdetails lensdistance">
          <div class="row">
            <div class="highlightbox lensbox distancecolor">
              <img class="simplifiedicon" src="images/icons/Distance_Icon.svg" />
              <p class="subtext">The Lens Of Distance</p>
              <p>LIC countries experience lower relatability to the benefits of science and may feel personally excluded, they are also twice as likely to distrust science.</p>
              <p class="smallhighlight">Kenya, Malawi, South Africa</p>
            </div>
          </div>
        </div>
      </div>
      </a>
      <div class="col-md-4 center-text seeingfurthernote">
        <a class="notvisible" href="compare/">
          <div>
            <img class="homeicon" src="images/icons/Home_distance.svg" height="100px" />
            <p>Which countries believe that the vast majority of its citizens benefit from science?</p>
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 offset-md-1 center-text">
        <a class="notvisible" href="themes/attraction/">        
        <div class="lensdetails lensattraction">
          <div class="row">
            <div class="highlightbox lensbox attractioncolor">
              <img class="simplifiedicon" src="images/icons/Attraction_Icon.svg" />
              <p class="subtext">The Lens Of Attraction</p>
              <p>As economies evolve, they become more likely to trust scientists to provide accurate information and also more skeptical of science’s ability to increase jobs.</p>
              <p class="smallhighlight">India, Bangladesh</p>
            </div>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-4 center-text seeingfurthernote">
        <a class="notvisible" href="compare/">
          <div>
            <img class="homeicon" src="images/icons/Home_attraction.svg" height="100px" />
            <p>How much do people trust scientists today and how bullish are they about science’s impact on their future?</p>
          </div>
        </a>
      </div>
    </div>
{{ end }}