{{ define "main" }}
    <div class="row">
  		<div class="col-md-12">
  			<p>Going deeper <img src="images/Wellcome_Trust_logo.svg" width="40px" /> Seeing further</p>
  		</div>
    </div>
    <div class="row">
  		<div class="col-md-8 offset-md-2">
  			<p class="wellcomeheader">Trust in science plays a huge role in how people interpret and adopt scientific findings.</p>
  		</div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <p>The lenses of Religion, Societal Institutions, Benefits and Future Economies help to go deeper into the data, stories, implications and challenges of trust in science from different points of view.  Comparing the lenses let you see further, ask questions and make the insights actionable.</p>
        <a class="frontpagecompare" href="lenses/society">
          <div class="comparebutton">
            <h3 class="frontpagebuttontext">Compare the lenses</h3>
          </div>
        </a>
      </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
      		<div id="rootcol" class="col-md-3">
            <a class="frontpagelink" href="lenses/religion">
              <div class="frontpagebutton">
                <h3 class="frontpagebuttontext">Religion</h3>
              </div>
            </a>
      			<div id="circlereligion" class="frontpage-circle proportional"></div>  		
      			<div id="frontreligion" class="frontpage-image proportional">
      				<p>The association between religiosity and perception of cultural The association between religiosity and perception of cultural</p>
      			</div>
      		</div>
          <div class="col-md-3">
            <a class="frontpagelink" href="lenses/society">
              <div class="frontpagebutton">
                <h3 class="frontpagebuttontext">Societal Institutions</h3>
              </div>
            </a>
            <div id="circlesociety" class="frontpage-circle proportional"></div>  
            <div id="frontsociety" class="frontpage-image proportional">
              <p>The association between religiosity and perception of cultural The association between religiosity and perception of cultural</p>
            </div>
          </div>
          <div class="col-md-3">
            <a class="frontpagelink" href="lenses/benefits">
              <div class="frontpagebutton">
                <h3 class="frontpagebuttontext">Benefits</h3>
              </div>
            </a>
            <div id="circlebenefits" class="frontpage-circle proportional"></div>  
            <div id="frontbenefits" class="frontpage-image proportional">
              <p>The association between religiosity and perception of cultural The association between religiosity and perception of cultural</p>
            </div>
          </div>
          <div class="col-md-3">
            <a class="frontpagelink" href="lenses/future_economies">
              <div class="frontpagebutton">
                <h3 class="frontpagebuttontext">Future Economies</h3>
              </div>
            </a>
            <div id="circleattraction" class="frontpage-circle proportional"></div>  
            <div id="frontattraction" class="frontpage-image proportional">
              <p>The association between religiosity and perception of cultural The association between religiosity and perception of cultural</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{{ end }}