{{ define "main" }}
    <div class="row">
  		<div id="frontheader" class="col-md-12">
  			<img src="../images/frontpage/frontpage-header.png" width=100% />
  		</div>
    </div>
    <div class="row">
    	<div class="col-md-8 offset-md-2">
    		<p class="fronttitle">Trust in science plays a huge role in how people interpret and adopt scientific findings.</p>
    		<p class="frontintro">To better understand the complex relationship people have with trust in science, we have explored the findings from the Wellcome Global Monitor and developed four lenses, each of which is intended to help make different aspects of trust visible and actionable for your programme strategies.</p>
    		<p class="frontintro">The lenses are tools for understanding one perspective at a time. Each lens contains a comparison tool for cross-country analysis, small sets of questions you should ask yourself about a country of intervention, and is introduced with the help of a deeper narrative pulling together additional qualitative and robust global datasets.</p>
    		<p class="frontintro">The comparison tools are available for 144 countries from the WGM.</p>
    	</div>
    </div>
{{ end }}